@{
    ViewBag.Title = "About The Centre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Knockmitten Youth & Community Centre opened it's doors in June 2006. The centre provides activities for people of all ages. If you have any questions please do not hesitate to contact us.</p>

<p>
    <strong><color.blue> The 2's Club</color.blue></strong>
    This club is run on Monday mornings from 10.00 am - 11.00am and then 12-1pm. It is an art and crafts club for pre-school children 2 years of age and their parents. Pre-registration is required but there are still a few places available.Children are required to wear old clothes and to bring a small healthy lunch.
    The club costs €2.50 per session.
    Further information is available by contacting the centre.
</p>
<p>
    <strong>The 5's Club </strong>
    ﻿This club is run on Tuesdays from 2.30pm - 3.30pm. We provide a happy ,safe environment in which children can have fun doing ARTS & CRAFTS The club costs €2.50 per session.
    Pre-registration is required but there are still a few places available.
</p>
<p>
    <strong>Parent & Toddler Group </strong>
    This club takes place in the center on Thursday mornings from 10.30am - 12.00pm and costs €2.50 per session.
    We provide a happy,safe environment in which babies and young children can explore through play,music and sing along, creative activities and seasonal celebrations.
</p>
<p>
    <strong>

        Drop in's
    </strong>
    This is a club where children can drop in and play pool, table tennis, board games, indoor soccer etc.
    Drop in for 6-9 year old's takes place on Wednesday's from 3.30pm-4.30pm and costs €2.50.
</p>
<p>
    <strong>
        Over 55's Club
    </strong>
    The Senior citizens group runs in the centre on Tuesday mornings from 11am - 1pm.
    The group is open to all senior citizens in the area. It provides a meeting point and a place to meet for  tea and a chat for the elderly. The group also provide some activities ie. art, dancing etc
    DON'T  FORGET EVERY TUESDAY & FRIDAY WE HOLD THE OVER 55's LUNCH
    FROM 1 pm. €4 PER PERSON
</p>
<p>
    <strong>
        Guitar class's
    </strong>
    The Beginners Guitar Class takes place Thursday 3.30-4.30 pm this is for youth's who are only beginning to learn how to play the guitar, 4.30-5.30pm is for those who are more intermediate and a little older in age &  Our Advanced Guitar class is more for young teen's who have experience and that class takes Place 5.30pm-6.30pm. Classes will cost €15 this term as there are 3 classes this term €5 each. Normally there are 5 classes a term and in total costing €25. Please feel free to contact the center if you have any questions or need further information. Pre-registration is required.
</p>
<p>
    <strong>
        Pilates
    </strong>
    A NEW YEAR - A NEW YOU
    A body & mind class concentrating on core stabilization posture, strengthening & toning
    8 Week Course only €80
    For booking & information call
    Jeannette on 087 646 1463
</p>
<p>
    <strong>
        Knitting & Craft Circle
    </strong>
    The group is creating an outlet for women in the area every Friday morning 10.30-12.30.
    ALL WELCOME
    Come and share your skills
    Enjoy a tea or coffee and some goood company
    Cost €2 per head.
</p>
<p>
    <strong>
        Yoga
    </strong>
    In the centre we have on Monday night's yoga from 8pm to 9.30pm.
    ​For further information please contact
    Christine Hartigan
    087-2215852
</p>
<p>
    <strong>

        Happy Friday Club (Senior Citizens)
    </strong>
    This is our new senior citizens club 11am-1pm on Friday. Cost €2.50. Activity's include bingo, movie mornings, baking arts and crafts book swaps and many more activity's.
</p>

<p><strong>
<h3>Services Available</h3><br>
Room & Hall Hire<br>
CV & Typing<br>
Laminating & Binding<br>
Internet Access<br>
Faxing & Photo Copying<br></strong>
</p>