@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Monksfield Lawns<br />
    Clondalkin, Dublin 22<br />
    <abbr title="Phone">P:</abbr>
    01-4111511
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:knockmittencommunity@hotmail.com">knockmittencommunity@hotmail.com</a><br />
    
</address>